.App {
  text-align: center;
}

#boardDisplay {
  display: flex;
  justify-content: center;
  grid-template-columns: 10rem 10rem 10rem;
  grid-gap: 1rem;
  grid-auto-flow: row;
}

#boardHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 5%;
  margin-top: 5%;
}